/* ********* */
/* @VARIABLES */
/* ********* */

$colores: (
    colorFondo: #200063,
    colorLogotipo: #ffffff,
    colorLetra: #DDDDDD,
    colorRectangulos: #150043
);


$tamanyos:(
    tamanyoLetra: 14px,
    tamanyoLetraLogo: 20.24px
);
